.panel-container {
    width: 15rem;
    min-width: 15rem;
    width: fix-content;
    height: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
}

.panel-container .logo-text {
    width: 100%;
    /* height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.panel-container .panel-home {
    width: 80%;
    object-fit: contain;
}

.panel-container .panel-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    padding-top: 3rem;
}

.panel-container .panel-item {
    width: 80%;
    border-radius: 10px;
    padding: .5rem 0;
    margin: .5rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
    text-decoration: none;
    color: white;
    transition: color .2s;
}



.panel-container .panel-item.focused {
    color: black;
    /* background-color: rgb(233, 188, 31); */
    /* border: 2px solid rgb(255, 234, 43); */
    background-image: linear-gradient(to bottom, rgb(255, 255, 0), rgb(233, 188, 31));
}

.panel-container .panel-item.not-focused {
    /* background-color: rgb(233, 188, 31); */
    /* border: 2px solid rgb(255, 234, 43); */
    background-image: linear-gradient(0.5turn, rgb(131, 131, 131), rgb(48, 48, 48));
}

.panel-container .bottom-function-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    /* padding-bottom: 0rem; */

}

.panel-container .bottom-function-button {
    width: 80%;
    border-radius: 10px;
    padding: .5rem 0;
    margin: .5rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(0.5turn, rgb(25, 164, 208), rgb(152, 231, 255));
}


@media (min-width: 1200px) {}

@media (max-width: 1199px) {
    .panel-container {
        width: 12rem;
        min-width: 12rem;
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .panel-container {
        display: none;
    }
}

@media (max-width: 575px) {}