.panel-container {
    width: 15rem;
    min-width: 15rem;
    width: fix-content;
    height: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
}

.panel-container .logo-text {
    width: 100%;
    /* height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.panel-container .panel-home {
    width: 70%;
    object-fit: contain;
    padding-left: 1rem;
    padding-top: 1rem;
}

.panel-container .panel-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    padding-top: 3rem;
}

.panel-container .panel-item {
    width: 100%;
    padding: .8rem 0;
    margin: .2rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
    text-decoration: none;
    color: rgb(135, 135, 135);
    transition: color .2s, border-left .1s;
}

.panel-container .panel-item.not-focused {
    border-left: 0px solid white;
}

.panel-container .panel-item:hover {
    color: rgb(191, 191, 191);
    border-left: 8px solid rgb(191, 191, 191);
}

.panel-container .panel-item.focused {
    color: white;
    /* background-color: rgb(233, 188, 31); */
    /* border: 2px solid rgb(255, 234, 43); */
    /* background-image: linear-gradient(to bottom, rgb(255, 255, 0), rgb(233, 188, 31)); */
}

.panel-container .bottom-function-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    /* padding-bottom: 0rem; */

}

.panel-container .bottom-function-button {
    width: 100%;
    padding: .5rem 0;
    margin: .5rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: color .2s, border-left .1s;
    /* background-image: linear-gradient(0.5turn, rgb(25, 164, 208), rgb(152, 231, 255)); */
}

.panel-container .bottom-function-button.employee-data-button,
.panel-container .bottom-function-button.vehicle-data-button {
    color: rgb(135, 135, 135);
}

.panel-container .bottom-function-button.employee-data-button.not-focused,
.panel-container .bottom-function-button.vehicle-data-button.not-focused {
    border-left: 0px solid white;
}

.panel-container .bottom-function-button.employee-data-button:hover,
.panel-container .bottom-function-button.vehicle-data-button:hover {
    color: rgb(191, 191, 191);
    border-left: 8px solid white;
}

.panel-container .bottom-function-button.employee-data-button.focused,
.panel-container .bottom-function-button.vehicle-data-button.focused {
    color: white;
}

.panel-container .bottom-function-button.logout-button {
    color: rgb(255, 0, 0, .7);
    border-left: 0px solid red;
}

.panel-container .bottom-function-button.logout-button:hover {
    color: rgb(255, 0, 0);
    border-left: 8px solid red;
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
    .panel-container {
        width: 12rem;
        min-width: 12rem;
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .panel-container {
        display: none;
    }
}

@media (max-width: 575px) {}