.toolbar .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(49, 49, 49);
    align-items: center;
    margin-bottom: 1rem;
    padding: .5rem 0;
}


.toolbar .feature-blocks {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;

}

.toolbar .main-features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar .feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;

}

.toolbar .feature-title {
    text-align: center;
    margin-right: 1rem;
    color: white;
    padding: .2rem 2rem .2rem 2rem;
    border-radius: 10px;
    background-image: linear-gradient(0.5turn, rgb(131, 131, 131), rgb(48, 48, 48));
}

.toolbar .department-selector select {
    /* background-image: linear-gradient(0.5turn, rgb(131, 131, 131), rgb(48, 48, 48)); */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgb(49, 49, 49); */
    /* font-weight: bold; */
    background-color: rgb(48, 48, 48);
    color: white;
    /* border: 2px solid rgb(48, 48, 48); */
    padding: 4px 20px;
    /* border-radius: 100px; */
    font-size: 1rem;
    border: 1px solid #ccc;
}

.toolbar .department-selector select option {
    background: rgb(49, 49, 49);
    color: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.toolbar .time-selector {
    /* background-image: linear-gradient(0.5turn, rgb(131, 131, 131), rgb(48, 48, 48)); */
    height: 100%;
    width: 100%;
    /* background-color: rgb(49, 49, 49);
     */
    font-size: 1rem;
    border: none;
    position: relative;
    /* color: rgb(48, 48, 48); */
    color: white;
    border: 1px solid #ccc;
    /* border-radius: 100px; */
    font-size: 1rem;
    margin-left: 0.2rem;
    /* font-weight: bold; */
}

.toolbar .time-selector-text {
    display: flex;
    flex: 1;
    padding: 2px 50px 5px 30px;
    align-items: center;
    justify-content: center;
}

.toolbar .arrow {
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.toolbar .arrow.toggle {
    transform: rotate(90deg);
}

.toolbar .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: .5rem;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    padding: 10px 20px 10px 10px;
}

.toolbar .time-option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.toolbar .time-option label {
    display: block;
    margin-bottom: 5px;
    margin: 0 10px;
    color: white;
    white-space: nowrap;
}

.toolbar .start-time-selector,
.toolbar .end-time-selector {
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.toolbar .sub-features {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 1rem; */
}

.toolbar .sub-feature-container {
    display: flex;
    justify-content: center;
    padding-right: .5rem;
}

.toolbar .map-show,
.toolbar .export,
.toolbar .export-all,
.toolbar .add-new-data,
.toolbar .delete-data {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    padding: 0px 20px;
    /* border-radius: 100px; */
    /* font-weight: bold; */
    color: white;
    cursor: pointer;
    transition: opacity 0.2s;
    font-size: 1rem;
}

.toolbar .map-show:hover,
.toolbar .export:hover,
.toolbar .export-all:hover,
.toolbar .add-new-data:hover,
.toolbar .delete-data:hover {
    opacity: 0.8;
}


.toolbar .map-show {
    /* background-image: linear-gradient(0.5turn, rgb(92, 229, 31), rgb(73, 183, 26)); */
    /* background-color: rgb(89, 89, 89); */
    background-color: rgb(39, 129, 141);
}

.toolbar .add-new-data {
    /* background-image: linear-gradient(0.5turn, rgb(33, 156, 225), rgb(28, 122, 176)); */
    background-color: rgb(20, 161, 65);
    /* background-color: rgb(89, 89, 89); */

}

.toolbar .export,
.toolbar .export-all {
    background-color: rgb(39, 141, 114);
    /* background-color: rgb(32, 171, 164); */
    /* background-color: rgb(89, 89, 89); */

}

.toolbar .delete-data {
    background-color: rgb(185, 54, 13);

    /* background-image: linear-gradient(0.5turn, rgb(185, 54, 13), rgb(185, 54, 13)); */
}

.toolbar .search-keyword {
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    padding-left: 1rem;
}

.toolbar .search-keyword-input {
    padding: 4px 10px;
    margin-right: .5rem;
}

.toolbar .vehicle-type-filter {
    padding-bottom: .5rem;
    color: white;
    padding-left: 1.5rem;
    width: 100%;
    user-select: none;
}

/* .toolbar .vehicle-type-filter label {
    color: blue;
} */

.toolbar .user-info {
    color: white;
    padding-right: 1rem;
}