.vehicle-data .vehicle-form {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    position: relative;
    overflow-x: hidden;
}

.vehicle-data .edit-vehicle-form {
    height: 50vh;
    /* width: 25rem; */
    overflow-y: scroll;
    border: 1px solid #ccc;
    /* position: relative; */
}

.vehicle-data .vehicle-form.add-form {
    transform: translateX(calc(-100% - 50px));
    overflow-x: visible;

}

.vehicle-data .add-vehicle-form {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    width: 100%;
    position: absolute;

    transform: translateX(calc(100% + 50px));
}

.vehicle-data .add-vehicle-form .form-group {
    width: 100%;
}

.vehicle-data .edit-vehicle-container {}

.vehicle-data .edit-vehicle-form .vehicle-table {
    border-collapse: collapse;
    font-size: 1rem;

}

.vehicle-data .vehicle-table td {
    border-bottom: 1px solid #ccc;
}

.vehicle-data .edit-vehicle-button {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.vehicle-data button {
    font-size: 1.2rem;
    width: 10rem;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.vehicle-data .add-vehicle-button {
    background-color: rgb(73, 183, 26);
}

.vehicle-data .add-vehicle-button:hover {
    background-color: rgb(73, 183, 26, .8);
}

.vehicle-data .delete-vehicle-button {
    background-color: rgb(183, 73, 73);
}

.vehicle-data .delete-vehicle-button:hover {
    background-color: rgb(183, 73, 73, .8);
}

.vehicle-data .delete-vehicle-button:disabled {
    background-color: rgb(183, 73, 73, .5);
}

.vehicle-data .button-container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.vehicle-data .cancel-button {
    background-color: rgb(135, 135, 135);
}